{
    "bracketSpacing": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "printWidth": 80,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^@src/(.*)$",
        "^@revShare/src/app/routes.tsx(.*)$",
        "^@shared/(.*)$",
        "^@assets/(.*)$",
        "^[./]"
    ],
    "overrides": [
        {
            "files": "**/*Routes.tsx",
            "options": {
                "printWidth": 200
            }
        },
        {
            "files": "ncalayer-client.js",
            "options": {
                "printWidth": 5000
            }
        }
    ],
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}